body{
    background-color: rgb(45, 218, 22);
    
}

header{
    margin-top: 10px;
    margin-left: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#dados{
    margin-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

p{
    padding: 6px;
}

input{
    border-radius: 5px;
    border:  none;
    height: 20px;
}

#botao{
    border-radius: 10px;
    background-color: rgb(27, 82, 6);
    height: 40px;
    width: 120px;
    color: white;
    cursor: pointer;
    

}


#botao:hover{
    background-color: rgba(0, 0, 0, 0.880)
}

#botao:active{
    background-color: green;
}

#botao2{
    border-radius: 10px;
    background-color: white;
    height: 40px;
    width: 70px;
    cursor: pointer;
    margin-left: 6px;
}

#botao2:hover{
    background-color: aliceblue;
}

#botao2:active{
    background-color: rgb(225, 230, 231);
}


#res{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-left: 30px;
}




